@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: codePro;
    src: url('/SourceCodePro.woff2');
}

@font-face {
    font-family: sora;
    src: url('/Sora.woff2');
}


:root{
    --dark: white;
}


*{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: sora;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    color: var(--dark);
}

html, body{
    width: 100%;
    height: 100%;
}

span, a, ul, li{
    display: inline-block;
}

input, button{
    outline: none;
    border: none;
}


.line{
    padding: 100px;
    width: 100%;
    height: 100%;
    border: 1px solid #dadada13;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: auto;
}
.line::-webkit-scrollbar{display: none;}